body {
    background-color: lightgray;
}
h1, h2 {
    font-family: 'Georgia', serif;
    font-weight: bold;
}
p, li {
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
}
img {
    width: 500px;
    height: auto;
}